body{
    background-color: #101a2e;
}
.home{
    color: #fff;

    margin-top: 100px;
    font-family: 'Noto Sans', sans-serif;
   
}
.titLe{
    font-size: 5rem;

}
.home figure img{
    border-radius: 100%;
    width: 23rem;
    border: 2px solid #fff;
    
}
.home span{
    font-size:6rem;
    color: #cadbfe;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}
.conhecimento{
    background-color: aliceblue;
    color: #101a2e;
    width: 150px;
    padding: 8px;
    text-align: center;
    border-radius: 2px;
    margin-left: 10px;
}
.conhecimento:hover{
    background-color: #d4def4;
    cursor: default;
}
.align-title{
    width: 50%;
}